{%  extends "base.html" %}

{% block title %}Over ons{% endblock %}


{%  block content %}
<header>Over ons</header>
<nav>
    <ul>
      <li><a href="home">Home</a></li>
      <li><a href="database">Database</a></li>
      <li><a href="resultaten">Resultaten</a></li>
      <li><a href="about">Over ons</a></li>
    </ul>
</nav>
<article>
<p><b> Deze webpagina is gemaakt door:</b>
    <img src="/static/HAN-merkteken-descriptor.png" style="float:right">
    <br>
    Auteurs:
    <ol>
        <li>Max Diekman:</li>
        <a href="mailto:MT.Diekman@student.han.nl">Mail Max Diekman</a>
        <br>
        <li>Amber Bos:</li>
        <a href="mailto:AHMM.Bos@student.han.nl">Mail Amber Bos</a>
        <br>
        <li>Nienke Gertsen:</li>
        <a href="mailto:NE.Gertsen@student.han.nl">Mail Nienke Gertsen</a>
    </ol>
    <br>
    Instelling: Hoge school Arnhem-Nijmegen
    <br>
    <br>
    Jaar: 2020-2021
  </p>

</article>


{% endblock %}<!DOCTYPE html>